<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1 border ">
      <h1 class="text-center mt-5">Prima por cobrar</h1>
      <form [formGroup]="finanzasPrimas">
        <div class="row">
          <div class="col-md-4 border">
            <h2 class="text-center">Oficina</h2>
            <mat-form-field appearance="fill">
              <mat-label>Oficina</mat-label>
              <mat-select [formControl]="typeOfficeControl" name="optionOffi">
                <mat-option *ngFor="let optionOffice of optionTypeOffice" [value]="optionOffice.viewValue">
                  {{optionOffice.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>Oficina seleccionada: {{selectedValueOffi}} </p>
          </div>
          <div class="col-md-4 border">
            <h2 class="text-center">Agente</h2>
            <mat-form-field appearance="fill">
              <mat-label>Agente</mat-label>
              <mat-select [formControl]="typeAgenteControl" name="optionAgent">
                <mat-option *ngFor="let optionAgente of optionTypeAgente" [value]="optionAgente.viewValue">
                  {{optionAgente.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>Agente seleccionado: {{selectedValueAgent}} </p>
          </div>
          <div class="col-md-4 border">
            <h2 class="text-center">Ejecutiva</h2>
            <mat-form-field appearance="fill">
              <mat-label>Ejecutiva</mat-label>
              <mat-select [formControl]="typeEjectControl" name="optionEject">
                <mat-option  *ngFor="let optionEjectiva of optionTypeEjecutiva" [value]="optionEjectiva.viewValue">
                  {{optionEjectiva.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p>Ejecutiva seleccionada: {{selectedValueEject}} </p>
          </div>
        </div>
      </form>  
      <!-- Cards ini -->
      <div class="row mt-5">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="text-center">Pesos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 class="text-center">{{totalPesos | currency: 'USD' | lowercase}}</h1>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center">
                <div class="col-md">
                  <p><mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>30%</p>
                  <p>{{totalPesos * .30  | currency: 'USD' | lowercase}}</p>
                </div>
                <div class="col-md">
                  <p><mat-icon aria-hidden="false" aria-label="Example home icon">priority_high</mat-icon>
                    70%</p>
                  <p>{{totalPesos * .70  | currency: 'USD' | lowercase}}</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>	
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Dolares</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 class="text-center">{{totalDolares  | currency: 'USD' | lowercase}}</h1>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center">
                <div class="col-md">
                  <p><mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>30%</p>
                  <p>{{totalDolares * .30  | currency: 'USD' | lowercase}}</p>
                </div>
                <div class="col-md">
                  <p><mat-icon aria-hidden="false" aria-label="Example home icon">priority_high</mat-icon>
                    70%</p>
                  <p>{{totalDolares * .70  | currency: 'USD' | lowercase}}</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>	
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Euros</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1 class="text-center">{{totalEuros | currency: 'EUR'}}</h1>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center">
                <div class="col-md">
                  <p><mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>30%</p>
                  <p>${{totalEuros * .30 | currency: 'EUR'}}</p>
                </div>
                <div class="col-md">
                  <p><mat-icon aria-hidden="false" aria-label="Example home icon">priority_high</mat-icon>
                    70%</p>
                  <p>${{totalEuros * .70 | currency: 'EUR'}}</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>	
        </div>
      </div>
      <!-- Cards end -->
      <!-- Table Init -->
      <div class="row mt-5">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="fianza">
            <th mat-header-cell *matHeaderCellDef> Fianza </th>
            <td mat-cell *matCellDef="let element"> {{element.fianza}} </td>
          </ng-container>
        
          <ng-container matColumnDef="movimiento">
            <th mat-header-cell *matHeaderCellDef> Movimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.movimiento}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fiado">
            <th mat-header-cell *matHeaderCellDef> Fiador </th>
            <td mat-cell *matCellDef="let element"> {{element.fiado}} </td>
          </ng-container>
        
          <ng-container matColumnDef="antiguedad">
            <th mat-header-cell *matHeaderCellDef> Antigüedad </th>
            <td mat-cell *matCellDef="let element"> {{element.antiguedad}} </td>
          </ng-container>

          <ng-container matColumnDef="diasVencimiento">
            <th mat-header-cell *matHeaderCellDef> Dias de vencimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.diasVencimiento}} </td>
          </ng-container>

          <ng-container matColumnDef="importe">
            <th mat-header-cell *matHeaderCellDef> Importe </th>
            <td mat-cell [style.color]="element.color" *matCellDef="let element"> {{element.importe  | currency: 'USD' | lowercase}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>        
      </div>
    </div>
    <!-- Table end -->
  </div>
</div>